<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
<div class="col-12 col-lg-6">
    <img src="https://images.unsplash.com/photo-1556911220-e15b29be8c8f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy"  alt="KitchenThoughts --women thinking">
</div>

<div class="col-12 col-lg-6">


    <h1 class="display-5 fw-bold mb-3">
        Welcome to the world of Ideas
    </h1>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, repellat saepe numquam dignissimos illum ipsam.
    </p>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/explore-lates" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore Lates</a>
        <a href="/special-recipe" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Special recipe</a>
    </div>
</div>

</div>


<!-- category card -- start -->
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4" >
    <a href="#" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="https://c4.wallpaperflare.com/wallpaper/374/404/846/brown-bird-perching-during-daytime-wren-wren-wallpaper-preview.jpg" alt="burger" loading="lazy">
        </div>
        <div class="pt-1">Burger</div>
    </a>
    <a href="#" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="https://c4.wallpaperflare.com/wallpaper/234/543/684/food-pizza-wallpaper-preview.jpg" alt="burger" loading="lazy">
        </div>
        <div class="pt-1">Burger</div>
    </a>
    <a href="#" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="https://c4.wallpaperflare.com/wallpaper/269/901/198/chicken-still-life-food-weapon-wallpaper-preview.jpg" alt="burger" loading="lazy">
        </div>
        <div class="pt-1">Burger</div>
    </a>
    <a href="#" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="https://c4.wallpaperflare.com/wallpaper/100/133/95/food-dessert-cake-sweets-wallpaper-preview.jpg" alt="burger" loading="lazy">
        </div>
        <div class="pt-1">Burger</div>
    </a>
    <a href="#" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="https://c4.wallpaperflare.com/wallpaper/484/98/442/cake-sweets-food-wallpaper-preview.jpg" alt="burger" loading="lazy">
        </div>
        <div class="pt-1">Burger</div>
    </a>
    <a href="/category" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="https://c1.wallpaperflare.com/preview/166/884/864/skewer-kebab-barbecue-food.jpg" alt="view all" loading="lazy">
        </div>
        <div class="pt-1">View all</div>
    </a>
    



</div>


<!-- category card -- end -->



<!-- Latest menu  -- start -->
    <section class="pb-4 pt-4">
        <div class="d-flex mb-2 align-items-center">
        <h1>Latest Recipe</h1>
        <a href="/explore-latest" class="ms-auto">View more</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3" >
        <a href="/recipe/#" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
            <img src="https://images.unsplash.com/photo-1555939594-58d7cb561ad1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80" alt="foodimage" loading="lazy">

        </div>
        <div class="pt-1">Paneer</div>
    </a>

    <a href="/recipe/#" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
            <img src="https://images.unsplash.com/photo-1555939594-58d7cb561ad1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80" alt="foodimage" loading="lazy">

        </div>
        <div class="pt-1">Paneer</div>
    </a>

    <a href="/recipe/#" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
            <img src="https://images.unsplash.com/photo-1555939594-58d7cb561ad1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80" alt="foodimage" loading="lazy">

        </div>
        <div class="pt-1">Paneer</div>
    </a>

    <a href="/recipe/#" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
            <img src="https://images.unsplash.com/photo-1555939594-58d7cb561ad1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80" alt="foodimage" loading="lazy">

        </div>
        <div class="pt-1">Paneer</div>
    </a>

    <a href="/recipe/#" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
            <img src="https://images.unsplash.com/photo-1555939594-58d7cb561ad1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80" alt="foodimage" loading="lazy">

        </div>
        <div class="pt-1">Paneer</div>
    </a>
    </div>

    </section>

<!-- Latest menu  -- End -->